 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <hr class="star-light">
                <div class="col-lg-12 text-center">
                    <p>I draw insight from large data sets, and communicate the results in customized data visualizations. I use state of the art technology tools to process, analyze, and generate visualizations. I can code, analyze, and design a data project from raw data to finished product. I thrive in fast-paced, changing environments where I can apply my creative and analytical skills to solve problems.</p>
                </div>
            </div>
        </div>
    </section>
