    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                </div>
            </div>

            <div class="row">
                <hr class="star-light">
                <div class="col-lg-12 text-center">
                    <p>👋 I'm Jaron.</p>
                    <p>I'm the creative director at the <a href="http://civicplatform.org/">Civic Software Foundation</a>, where we're using data visualization to make public data public knowledge.</p>
                    <p>I believe:</p>
                    <p>📈 Data should improve communication, not remove communication.</p>
                    <p>👩‍💻Technology should serve people, not the other way around.</p>
                    <p>🌍We can transform society for the better through collaboration.</p>
                    <p>The portfolio below is dated - check out the <a href="http://civicplatform.org/">CIVIC Platform</a> to see my latest collaborative work.</p>
                </div>
            </div>      
        </div>
    </header>
